# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
school_data.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [5]:
student_data.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [6]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [7]:
total_schools = len(school_data_complete["school_name"].unique())
total_schools

15

In [8]:
total_students = school_data_complete["Student ID"].count()
total_students

39170

In [9]:
total_budget = school_data["budget"].sum()
total_budget

24649428

In [10]:
avg_math = school_data_complete["math_score"].mean()
avg_math

78.98537145774827

In [11]:
avg_reading = school_data_complete["reading_score"].mean()
avg_reading

81.87784018381414

In [12]:
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
percentage_pass_math= passing_math_count/total_students*100
percentage_pass_math

74.9808526933878

In [13]:
passsing_read_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
percentage_pass_read= passsing_read_count/total_students*100
percentage_pass_read

85.80546336482001

In [14]:
overall_passing_rate = (percentage_pass_math + percentage_pass_read)/2
overall_passing_rate

80.39315802910392

In [15]:
district_summary =pd.DataFrame({"Number of Schools":[total_schools],
                          "Number of Students":[total_students],
                          "Total Budget": [total_budget],
                          "Average Math Score":[avg_math],
                          "Average Reading Score":[avg_reading],
                          "Math Passing Rate(%)":[percentage_pass_math],
                          "Reading Passing Rate(%)":[percentage_pass_read],
                                "Overall Passing Rate(%)":[overall_passing_rate]}) 
district_summary["Number of Students"]=district_summary["Number of Students"].map("{:,}".format)
district_summary["Total Budget"]=district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"]=district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"]=district_summary["Average Reading Score"].map("{:,.2f}".format)
district_summary["Math Passing Rate(%)"]=district_summary["Math Passing Rate(%)"].map("{:,.2f}%".format)
district_summary["Reading Passing Rate(%)"]=district_summary["Reading Passing Rate(%)"].map("{:,.2f}%".format)
district_summary["Overall Passing Rate(%)"]=district_summary["Overall Passing Rate(%)"].map("{:,.2f}%".format)
district_summary

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,Math Passing Rate(%),Reading Passing Rate(%),Overall Passing Rate(%)
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,80.39%

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## School Summary

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate
* Sort and display the five worst-performing schools

## Bottom Performing Schools (By Passing Rate)

In [16]:
school_types= school_data.set_index(["school_name"])["type"]
school_types.head()

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [17]:
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [18]:
total_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
total_school_budget.head()

school_name
Bailey High School      3124928.0
Cabrera High School     1081356.0
Figueroa High School    1884411.0
Ford High School        1763916.0
Griffin High School      917500.0
Name: budget, dtype: float64

In [19]:
per_student_budget = total_school_budget/per_school_counts
per_student_budget.head()

Bailey High School      628.0
Cabrera High School     582.0
Figueroa High School    639.0
Ford High School        644.0
Griffin High School     625.0
dtype: float64

In [20]:
average_math_score = school_data_complete.groupby(["school_name"]).mean()["math_score"]
average_math_score.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [21]:
average_reading_score = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
average_reading_score.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [22]:
passing_math_df= school_data_complete[(school_data_complete["math_score"] >= 70)]
passing_math_df.head()

count_mathpass_by_school=passing_math_df.groupby(["school_name"]).count()["math_score"]

percent_mathpass_by_school = count_mathpass_by_school/per_school_counts*100
percent_mathpass_by_school.head()

Bailey High School      66.680064
Cabrera High School     94.133477
Figueroa High School    65.988471
Ford High School        68.309602
Griffin High School     93.392371
dtype: float64

In [23]:
passing_read_df= school_data_complete[(school_data_complete["reading_score"] >= 70)]


count_readpass_by_school=passing_read_df.groupby(["school_name"]).count()["reading_score"]

percent_readpass_by_school = count_readpass_by_school/per_school_counts*100
percent_readpass_by_school.head()

Bailey High School      81.933280
Cabrera High School     97.039828
Figueroa High School    80.739234
Ford High School        79.299014
Griffin High School     97.138965
dtype: float64

In [24]:
overall_passing_rate=(percent_mathpass_by_school+percent_readpass_by_school)/2
overall_passing_rate.head()

Bailey High School      74.306672
Cabrera High School     95.586652
Figueroa High School    73.363852
Ford High School        73.804308
Griffin High School     95.265668
dtype: float64

In [25]:
school_sum_unformatted = pd.DataFrame({"School Type":school_types,
"Number of Students":per_school_counts,
"Total School Budget":total_school_budget,
"Budget per Student": per_student_budget,
"Average Math Score":average_math_score,
"Average Reading Score":average_reading_score,
"Math Passing Rate(%)":percent_mathpass_by_school,
"Reading Passing Rate(%)":percent_readpass_by_school,
"Overall Passing Rate(%)":overall_passing_rate})
school_summary=school_sum_unformatted
school_summary["Number of Students"]=school_summary["Number of Students"].map("{:,}".format)
school_summary["Total School Budget"]=school_summary["Total School Budget"].map("${:,.2f}".format)
school_summary["Budget per Student"]=school_summary["Budget per Student"].map("${:,.2f}".format)
school_summary["Average Math Score"]=school_summary["Average Math Score"].map("{:,.2f}".format)
school_summary["Average Reading Score"]=school_summary["Average Reading Score"].map("{:,.2f}".format)
school_summary["Math Passing Rate(%)"]=school_summary["Math Passing Rate(%)"].map("{:,.2f}%".format)
school_summary["Reading Passing Rate(%)"]=school_summary["Reading Passing Rate(%)"].map("{:,.2f}%".format)
school_summary["Overall Passing Rate(%)"]=school_summary["Overall Passing Rate(%)"].map("{:,.2f}%".format)

school_summary.head()

,School Type,Number of Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,Math Passing Rate(%),Reading Passing Rate(%),Overall Passing Rate(%)
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,74.31%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,95.59%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,73.36%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,73.80%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,95.27%

In [26]:
#top five schools by overall passing rate
top_five = school_summary.sort_values("Overall Passing Rate(%)", ascending=False)
top_five.head()

,School Type,Number of Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,Math Passing Rate(%),Reading Passing Rate(%),Overall Passing Rate(%)
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,95.59%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,95.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,95.27%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,95.27%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,95.20%

In [27]:
#bottom five schools by overall passing rate
bottom_five = school_summary.sort_values("Overall Passing Rate(%)", ascending=True)
bottom_five.head()

,School Type,Number of Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,Math Passing Rate(%),Reading Passing Rate(%),Overall Passing Rate(%)
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,73.29%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,73.36%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,73.64%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,73.80%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [28]:
ninth_scores= school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_scores= school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_scores= school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_scores= school_data_complete[(school_data_complete["grade"] == "12th")]

math_ninth=ninth_scores.groupby(["school_name"]).mean()["math_score"]
math_tenth=tenth_scores.groupby(["school_name"]).mean()["math_score"]
math_eleventh=eleventh_scores.groupby(["school_name"]).mean()["math_score"]
math_twelfth=twelfth_scores.groupby(["school_name"]).mean()["math_score"]

math_scores_by_grade = pd.DataFrame({"9th":math_ninth,
                                     "10th":math_tenth,
                                     "11th": math_eleventh,
                                     "12th": math_twelfth})

math_scores_by_grade["9th"]=math_scores_by_grade["9th"].map("{:,.2f}".format)
math_scores_by_grade["10th"]=math_scores_by_grade["10th"].map("{:,.2f}".format)
math_scores_by_grade["11th"]=math_scores_by_grade["11th"].map("{:,.2f}".format)
math_scores_by_grade["12th"]=math_scores_by_grade["12th"].map("{:,.2f}".format)

math_scores_by_grade.head()

                        9th   10th   11th   12th
school_name
Bailey High School    77.08  77.00  77.52  76.49
Cabrera High School   83.09  83.15  82.77  83.28
Figueroa High School  76.40  76.54  76.88  77.15
Ford High School      77.36  77.67  76.92  76.18
Griffin High School   82.04  84.23  83.84  83.36

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [29]:
read_ninth=ninth_scores.groupby(["school_name"]).mean()["reading_score"]
read_tenth=tenth_scores.groupby(["school_name"]).mean()["reading_score"]
read_eleventh=eleventh_scores.groupby(["school_name"]).mean()["reading_score"]
read_twelfth=twelfth_scores.groupby(["school_name"]).mean()["reading_score"]

read_scores_by_grade = pd.DataFrame({"9th":read_ninth,
                                     "10th":read_tenth,
                                     "11th": read_eleventh,
                                     "12th": read_twelfth})

read_scores_by_grade["9th"]=read_scores_by_grade["9th"].map("{:,.2f}".format)
read_scores_by_grade["10th"]=read_scores_by_grade["10th"].map("{:,.2f}".format)
read_scores_by_grade["11th"]=read_scores_by_grade["11th"].map("{:,.2f}".format)
read_scores_by_grade["12th"]=read_scores_by_grade["12th"].map("{:,.2f}".format)

read_scores_by_grade.head()

                        9th   10th   11th   12th
school_name
Bailey High School    81.30  80.91  80.95  80.91
Cabrera High School   83.68  84.25  83.79  84.29
Figueroa High School  81.20  81.41  80.64  81.38
Ford High School      80.63  81.26  80.40  80.66
Griffin High School   83.37  83.71  84.29  84.01

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [30]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [31]:
school_budget_bins = pd.cut(per_student_budget, spending_bins, labels=group_names, right=True)


budget_summary =  pd.DataFrame({"Spending Ranges (Per Student)":school_budget_bins,
                                        "Average Math Score":average_math_score,
                                        "Average Reading Score":average_reading_score,
                                        "Math Passing Rate(%)":percent_mathpass_by_school,
                                        "Reading Passing Rate(%)":percent_readpass_by_school,
                                        "Overall Passing Rate(%)":overall_passing_rate})
  
budget_summary=budget_summary.groupby("Spending Ranges (Per Student)").mean()[["Average Math Score", 
                                                                            "Average Reading Score",
                                                                            "Math Passing Rate(%)",
                                                                            "Reading Passing Rate(%)",
                                                                            "Overall Passing Rate(%)"]]

budget_summary["Average Math Score"]=budget_summary["Average Math Score"].map("{:,.2f}".format)
budget_summary["Average Reading Score"]=budget_summary["Average Reading Score"].map("{:,.2f}".format)
budget_summary["Math Passing Rate(%)"]=budget_summary["Math Passing Rate(%)"].map("{:,.2f}%".format)
budget_summary["Reading Passing Rate(%)"]=budget_summary["Reading Passing Rate(%)"].map("{:,.2f}%".format)
budget_summary["Overall Passing Rate(%)"]=budget_summary["Overall Passing Rate(%)"].map("{:,.2f}%".format) 

budget_summary

,Average Math Score,Average Reading Score,Math Passing Rate(%),Reading Passing Rate(%),Overall Passing Rate(%)
Spending Ranges (Per Student),,,,,
<$585,83.46,83.93,93.46%,96.61%,95.04%
$585-615,83.60,83.89,94.23%,95.90%,95.07%
$615-645,79.08,81.89,75.67%,86.11%,80.89%
$645-675,77.00,81.03,66.16%,81.13%,73.65%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [32]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [33]:
school_size_bins = pd.cut(per_school_counts, size_bins, labels=group_names, right=True)

size_summary =  pd.DataFrame({"School Size":school_size_bins,
                                        "Average Math Score":average_math_score,
                                        "Average Reading Score":average_reading_score,
                                        "Math Passing Rate(%)":percent_mathpass_by_school,
                                        "Reading Passing Rate(%)":percent_readpass_by_school,
                                        "Overall Passing Rate(%)":overall_passing_rate})
                                                      
size_summary=size_summary.groupby("School Size").mean()[["Average Math Score", 
                                                        "Average Reading Score",
                                                        "Math Passing Rate(%)",
                                                        "Reading Passing Rate(%)",
                                                        "Overall Passing Rate(%)"]]
    

size_summary["Average Math Score"]=size_summary["Average Math Score"].map("{:,.2f}".format)
size_summary["Average Reading Score"]=size_summary["Average Reading Score"].map("{:,.2f}".format)
size_summary["Math Passing Rate(%)"]=size_summary["Math Passing Rate(%)"].map("{:,.2f}%".format)
size_summary["Reading Passing Rate(%)"]=size_summary["Reading Passing Rate(%)"].map("{:,.2f}%".format)
size_summary["Overall Passing Rate(%)"]=size_summary["Overall Passing Rate(%)"].map("{:,.2f}%".format)    



size_summary

,Average Math Score,Average Reading Score,Math Passing Rate(%),Reading Passing Rate(%),Overall Passing Rate(%)
School Size,,,,,
Small (<1000),83.82,83.93,93.55%,96.10%,94.82%
Medium (1000-2000),83.37,83.86,93.60%,96.79%,95.20%
Large (2000-5000),77.75,81.34,69.96%,82.77%,76.36%

## Scores by School Type

* Perform the same operations as above, based on school type.

In [34]:
school_size_bins = pd.cut(per_school_counts, size_bins, labels=group_names, right=True)

type_summary =  pd.DataFrame({"School Type":school_types,
                                        "Average Math Score":average_math_score,
                                        "Average Reading Score":average_reading_score,
                                        "Math Passing Rate(%)":percent_mathpass_by_school,
                                        "Reading Passing Rate(%)":percent_readpass_by_school,
                                        "Overall Passing Rate(%)":overall_passing_rate})
                                                      
type_summary=type_summary.groupby("School Type").mean()[["Average Math Score", 
                                                        "Average Reading Score",
                                                        "Math Passing Rate(%)",
                                                        "Reading Passing Rate(%)",
                                                        "Overall Passing Rate(%)"]]
    

type_summary["Average Math Score"]=type_summary["Average Math Score"].map("{:,.2f}".format)
type_summary["Average Reading Score"]=type_summary["Average Reading Score"].map("{:,.2f}".format)
type_summary["Math Passing Rate(%)"]=type_summary["Math Passing Rate(%)"].map("{:,.2f}%".format)
type_summary["Reading Passing Rate(%)"]=type_summary["Reading Passing Rate(%)"].map("{:,.2f}%".format)
type_summary["Overall Passing Rate(%)"]=type_summary["Overall Passing Rate(%)"].map("{:,.2f}%".format)    


type_summary

,Average Math Score,Average Reading Score,Math Passing Rate(%),Reading Passing Rate(%),Overall Passing Rate(%)
School Type,,,,,
Charter,83.47,83.90,93.62%,96.59%,95.10%
District,76.96,80.97,66.55%,80.80%,73.67%